<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boy's Blog</a></h1>
        </div>

        <div>
            <p>published: 13.03.2019, 4:30</p>
            <h2><a href="">My first post</a></h2>
            <p>This site is a trial version of my first official blog. Notwithstanding that fact, I  plan on making it as beautiful as possible. On this platform will  be posted very deep and educational  materials to feed your mental curiosity. Watvh out for a series of blogs soon.</p>
        </div>

        <div>
            <p>published: 13.03.2019, 4:30</p>
            <h2><a href="">My second post</a></h2>
            <p>This section is a continuation of the fact stated above that we are testing our website built from scratch using python's django.</p>
        </div>
    </body>
</html>